{% extends "vds/base.html" %}

{% block title %}Some Project Details{% endblock %}

{% block content %}
<h2>Project Details</h2>
<ul>
    <li>WA Number: {{ project.wa_number }}</li>
    <li>Title: {{ project.title }}</li>
    <li>Stub: {{project.stub}} - DrM Reference: {{ project.drm_ref_number }}</li>
    <li>Location: {{project.location}}, {{project.country}}</li>
    <li>Client Project Number: {{ project.client_number }}</li>
    <li>Client Project Title: {{ project.client_title }}</li>
</ul>
<HR>
<ul>
    <li><a href="{% url 'vds:transmittal_new' project.id %}">Add new transmittal</a></li>
    <li><a href="{% url 'vds:transmittal_list' project.id %}">View all transmittals for this project</a></li>
    <li><a href="{% url 'vds:document_list' project.id%}">View document list</a></li>
</ul>


  <div style="text-align:right;font-size: smaller;" font:smaller">{{project.id}}</div>
{% endblock content %}