<!-- uploader/templates/uploader/upload_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload CSV</title>
</head>
<body>
  <h1>Upload CSV for Documents</h1>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <strong>Note:</strong> The CSV file must have the correct headers
    matching the Document model fields. Refer to the export CSV for the
    correct format.<BR>
    The CSV file will update existing documents based on their document number.

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  {% if errors %}
    <h3>Import errors</h3>
    <pre>{{ errors|safe }}</pre>
  {% endif %}
</body>
</html>
